footer {
  background-image: url('src/assets/images/virus.jpg');
  text-align: center;
  width: 100%;
  height: auto;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
  margin-top: 50px;

}

.footer {
  bottom: 0;
  left: 0;
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
  width: 100%;
  height: 100%;
  padding: 10px;
  color: #FFF;
  text-shadow: 1px 1px 1px #333;
  background-image: linear-gradient( 135deg, #9f05ff69 10%, #fd5e086b 100%);
}

@media screen and (max-width: 700px){
 footer{
   background: none;
 }
}
