<header>
  <div class="overlay">
    <h1 (click)="onNavigate()">Covid19 Tracker</h1>
    <h3>See the latest statistics</h3>
    <div class="select">
      <button class="button" (click)="onNavigate()">World</button>
    <ng-select class="custom"
               [items]="country"
               bindLabel="country"
               bindValue="country"
               appendTo="body"
               notFoundText="Country not found"
               placeholder="Select Country..."
               [(ngModel)]="countryName"
               (change)="onSubmit()">
    </ng-select>
    </div>
    <h4 *ngIf="isError" class="error">{{errorMessage}}</h4>
  </div>
</header>
