<header>
  <div class="overlay">
    <h1 (click)="onNavigate()">Covid19 Tracker</h1>
    <h3>See the latest statistics</h3>
<!--    <form  #form='ngForm'>-->
<!--      <input (keyup.enter)="onSubmit()" type="text" placeholder="Select a country..." ngModel name="countryInput">-->
<!--    </form>-->

    <div class="select" *ngIf="country">
    <ng-select [items]="country"
               bindLabel="country"
               bindValue="country"
               appendTo="body"
               notFoundText="Country not found"
               style="font-family: 'Dancing Script', cursive;"
               [(ngModel)]="countryName"
               (change)="onSubmit()">

    </ng-select>
    </div>

  </div>
</header>
