header {
  background: url('/assets/images/virus.jpg');
  text-align: center;
  width: 100%;
  height: auto;
  background-size: 100% 100%;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
  border-radius: 0 0 85% 85% / 30%;
}
header .overlay{
  width: 100%;
  height: 100%;
  padding: 10px;
  color: #FFF;
  text-shadow: 1px 1px 1px #333;
  background-image: linear-gradient( 135deg, #9f05ff69 10%, #fd5e086b 100%);

}

h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 80px;
  margin-bottom: 20px;
  cursor: pointer;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 10px;
}

input {
  width: 30%;
  padding: 12px 20px;
  margin: 20px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input:focus {
  outline: none;
}

.select{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 10px;
  text-shadow: none;
  font-weight: bold;
}

.button {
  border: none;
  padding: 9px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background-color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  outline: none;
  border-radius: 8px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}


.button:hover{
  background-color: rgba(252, 198, 176, 0.7);

}

ng-select.custom{
  width: 50%;
  margin-left: 8px;
  outline: none;
  font-family: 'Open Sans', sans-serif;
}

.error{
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

@media screen and (max-width: 700px){
  h1{
    font-size: 40px;
  }

  .button{
    padding: 7px 20px;
    font-size: 14px;
  }

  ng-select.custom{
    width: 70%;
  }

  .error{
    font-size: 14px;
  }
}


