<div class="container">
  <div class="general-info">
    <h1>General Data</h1>
  </div>
  <div class="row">
    <div class="tests info">
      <h1>Tests</h1>
      <h2>{{statistics.tests | number}}</h2>
    </div>
    <div class="cases info">
      <h1>Coronavirus Cases</h1>
      <h2>{{statistics.cases | comma}}</h2>
    </div>
  </div>
  <div class="row">
    <div class="deaths info">
      <h1>Deaths</h1>
      <h2>{{statistics.deaths | number}}</h2>
    </div>
    <div class="recovered info">
      <h1>Recovered</h1>
      <h2>{{statistics.recovered | comma}}</h2>
    </div>
  </div>
  <hr>
  <div class="row-active-closed">
  <div class="content">
    <div class="header">
      <h1>Active Cases</h1>
    </div>
    <br>
    <div class="all-patients">
      <h2>{{statistics.active | comma}}</h2>
      <p>Currently Infected Patients</p>
    </div>
    <div class="row">
      <div class="mild">
        <h2>{{statistics.active - statistics.critical | comma}}</h2>
        <p>in Mild Condition</p>
      </div>
      <div class="critical">
        <h2>{{statistics.critical | comma}}</h2>
        <p>Serious or Critical</p>
      </div>
    </div>
  </div>
    <div class="content">
      <div class="header">
        <h1>Closed Cases</h1>
      </div>
      <br>
      <div class="all-patients">
        <h2>{{statistics.recovered + statistics.deaths | comma}}</h2>
        <p>Cases which had an outcome</p>
      </div>
      <div class="row">
        <div class="mild">
          <h2 id="recovered">{{statistics.recovered | comma}}</h2>
          <p>Recovered</p>
        </div>
        <div class="critical">
          <h2 id="deaths">{{statistics.deaths | comma}}</h2>
          <p>Deaths</p>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <h1>Today's Data</h1>
  <div class="today-row">
    <div class="today-cases info">
      <h1>Cases</h1>
      <h2>{{statistics.todayCases | number}}</h2>
    </div>
    <div class="today-deaths info">
      <h1>Deaths</h1>
      <h2>{{statistics.todayDeaths | number}}</h2>
    </div>
    <div class="today-recovered info">
      <h1>Recovered</h1>
      <h2>{{statistics.todayRecovered | number}}</h2>
    </div>
  </div>
  <h1>Daily Charts</h1>

    <div class="chart">
      <app-chart [dates]="caseDates" [cases]="cases" [label]="casesLabel"></app-chart>
    </div>
    <div class="chart">
      <app-chart [dates]="deathDates" [cases]="deaths" [label]="deathsLabel"></app-chart>
    </div>
    <div class="chart">
      <app-chart [dates]="recoveredDates" [cases]="recovered" [label]="recoveredLabel"></app-chart>
    </div>


</div>

