<div class="container">
  <div class="general-info">
    <h1>General Data</h1>
  </div>
  <div class="row">
    <div class="tests info">
      <h1>Tests</h1>
      <h2 *ngIf="isWorld">{{statistics.tests}}</h2>
      <h2 *ngIf="isCountry">{{countryStatistics.tests}}</h2>
    </div>
    <div class="cases info">
      <h1>Coronavirus Cases</h1>
      <h2 *ngIf="isWorld">{{statistics.cases | comma}}</h2>
      <h2 *ngIf="isCountry">{{countryStatistics.cases}}</h2>
    </div>
  </div>
  <div class="row">
    <div class="deaths info">
      <h1>Deaths</h1>
      <h2>{{statistics.deaths | comma}}</h2>
    </div>
    <div class="recovered info">
      <h1>Recovered</h1>
      <h2>{{statistics.recovered | comma}}</h2>
    </div>
  </div>
  <hr>
  <div class="active">
    <div class="header">
      <h1>Active Cases</h1>
    </div>
    <br>
    <div class="all-patients">
      <h2>{{statistics.active | comma}}</h2>
      <p>Currently Infected Patients</p>
    </div>
    <div class="row">
      <div class="mild">
        <h2>{{statistics.active - statistics.critical | comma}}</h2>
        <p>in Mild Condition</p>
      </div>
      <div class="critical">
        <h2>{{statistics.critical | comma}}</h2>
        <p>Serious or Critical</p>
      </div>
    </div>
  </div>
</div>
