.container{
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  grid-gap: 30px;
  font-family: 'Open Sans', sans-serif;

}

.row{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  width: 80%;
}

.info{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  align-items: center;
  justify-items: center;
  box-shadow: 0 3px 7px #fd5e086b;
  border-radius: 8px;
  padding: 48px 32px;
  width: 80%;
}

.tests h2 {
  color: rgba(60, 29, 79, 0.8);
}

.cases h2 {
  color: dimgrey;
}

.recovered h2 {
  color: green;
}

.content{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  align-items: center;
  justify-items: center;
  box-shadow: 0 5px 10px #fd5e086b;
  border-radius: 8px;
  width: 80%;
  text-align: center;
  padding-bottom: 20px;
}

.header {
  text-align: center;
  background-color: #f1f1f1;
  padding: 20px 10px;
  width: 100%;
}

.all-patients{
  margin-bottom: 20px;
}

.mild h2{
  color: cornflowerblue;
}
.critical h2{
  color: red;
}

#recovered{
  color: green;
}

#deaths{
  color: black;
}

hr {
  border: 0;
  display:block;
  width: 90%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), #9f05ff69, #fd5e086b, rgba(0, 0, 0, 0));
  height: 2px;
  margin: 20px 0;
}

.row-active-closed{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  width: 90%;
}

.today-row{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  width: 90%;
}

.chart{
  width: 50%;
  height: auto;
}

@media screen and (max-width: 700px) {
  .container{
    grid-gap: 20px;
  }
  .row{
    grid-template-columns: 1fr;
    grid-gap: 20px;
    width: 100%;
  }
  .row-active-closed{
    width: 100%;
  }
  .info{
  }
  .row-active-closed{
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  .today-row{
    grid-template-columns: 1fr;
    grid-gap: 20px;
    width: 100%;
  }
  .chart{
    width: 96%;
  }
}


